/* Table of contents
1. Fonts 
2. General styles
3. Layout
   3a. Text
   3b. Golden rectangle
4. Media queries*/

/* Fonts */
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}

/* Layout */
body {
  min-height: 100vh;
  background: #f4f4f4;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}
/* Text */
.text {
  width: 40vw;
  padding: 1em;
  color: #0c6291;
}
.text h1 {
  margin-bottom: 0.5em;
}
.text p {
  line-height: 1.4;
  font-size: 1.25rem;
}
/* Golden rectangle */
.golden-rectangle {
  width: 60vw;
  height: calc(60vw / 1.618);
  padding: 2em;
}
.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(500, 1fr);
  grid-template-columns: repeat(809, 1fr);
}
.square {
  font-weight: 700;
  text-decoration: none;
  color: white;
  justify-content: center;
  align-items: center;
}
.one {
  grid-row: 1/500;
  grid-column: 1/501;
  font-size: 3rem;
  background: #e71d36;
}
.two {
  grid-row: 192/500;
  grid-column: 501/810;
  font-size: 2.75rem;
  background: #f2a541;
}
.three {
  grid-row: 1/192;
  grid-column: 619/810;
  font-size: 2.5rem;
  background: #56df56;
}
.four {
  grid-row: 1/119;
  grid-column: 501/619;
  font-size: 2.25rem;
  background: #05adad;
}
.five {
  grid-row: 119/192;
  grid-column: 501/574;
  font-size: 2rem;
  background: #0197f6;
}
.six {
  grid-row: 147/192;
  grid-column: 574/619;
  font-size: 1.5rem;
  background: #e99ae9;
}
.seven {
  grid-row: 119/147;
  grid-column: 574/619;
  font-size: 1rem;
  background: #e71d36;
}

/* Media queries */
@media screen and (max-width: 900px) {
  body {
    justify-content: flex-start;
    flex-direction: column;
  }
  .text,
  .golden-rectangle {
    width: 90vw;
  }
  .golden-rectangle {
    height: calc(90vw / 1.618);
    padding: 1em;
    margin-bottom: 5em;
  }
}
@media screen and (max-width: 425px) {
  .one {
    font-size: 2rem;
  }
  .two {
    font-size: 1.75rem;
  }
  .three {
    font-size: 1.5rem;
  }
  .four {
    font-size: 1.25rem;
  }
  .five {
    font-size: 1rem;
  }
  .six {
    font-size: 0.75rem;
  }
  .seven {
    font-size: 0.5rem;
  }
}
